<div class="centered-card demo-card-wide mdl-card mdl-shadow--2dp house-result" ng-repeat="house in $root.searchResults">
  <div class="mdl-card__title">
  </div>
  <div class="mdl-card__supporting-text">
    <label>Location</label>
    <div>{{house.location}}</div>
    <br>
    <label># of People</label>
    <div>{{house['number_of_people']}}</div>
    <br>
    <label>Cost</label>
    <div>${{house['exact_cost']}}</div>
    <br>
    <label>Style</label>
    <div>house.style</div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Inquire
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="editHouse()">
      Edit
    </a>
  </div>
</div>
