<div class="centered-card demo-card-wide mdl-card mdl-shadow--2dp house-result">
  <div class="mdl-card__title">
  </div>
  <div class="mdl-card__supporting-text">
    <label>Location</label>
    <div>Chicago, Illinois</div>
    <br>
    <label># of People</label>
    <div>6</div>
    <br>
    <label>Cost</label>
    <div>$4500</div>
    <br>
    <label>Style</label>
    <div>Urban</div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Inquire
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="editHouse()">
      Edit
    </a>
  </div>
</div>
