<div class="buffer-top">
<md-grid-list md-cols="2" md-row-height="fit">
<md-grid-tile>
	<div class="centered-card demo-card mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">Find a House</h2>
	  </div>
	  <div class="mdl-card__supporting-text">
	    <md-input-container>
	        <label>Location</label>
	        <input ng-model="house.location">
	      </md-input-container>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="$root.goToState('house_search')">
	      Search
	    </a>
	  </div>
	</div>
</md-grid-tile>
<md-grid-tile>
	<div class="centered-card demo-card mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">List a House</h2>
	  </div>
	  <div class="mdl-card__supporting-text">
	    <md-input-container>
        <label>Location</label>
        <input ng-model="house.location">
      </md-input-container>
      <md-input-container>
        <label>Cost</label>
        <input ng-model="house.cost" type="number">
      </md-input-container>
      <md-input-container>
        <label># of roommates</label>
        <input ng-model="house.roommates" type="number">
      </md-input-container>
      <label>Style</label>
      <md-select ng-model="house.style">
      	<md-option value="art_deco">Art Deco</md-option>
      	<md-option value="igloo">Igloo</md-option>
        <md-option value="modern">Modern</md-option>
        <md-option value="postmodern">Post-modern</md-option>
        <md-option value="rustic">Rustic</md-option>
        <md-option value="ranch">Ranch</md-option>
        <md-option value="urban">Urban</md-option>
        </md-select>
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="$root.showSimpleToast()">
	      Create Listing
	    </a>
	  </div>
	</div>	
</md-grid-tile>
</md-grid-list>
</div>