<div>
  <div class="centered-card demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Edit Profile</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <md-input-container>
        <label>Gender</label>
        <input ng-model="user.gender" required>
      </md-input-container>
      <md-input-container>
        <label>Location</label>
        <input ng-model="user.location" required>
      </md-input-container>
      <md-input-container>
        <label>Company</label>
        <input ng-model="user.company" required>
      </md-input-container>
      <md-input-container>
        <label>Budget</label>
        <input ng-model="user.budget" type="number" required>
      </md-input-container>
      <md-input-container>
        <label># of Roommates</label>
        <input ng-model="user.roommates" type="number" required>
      </md-input-container>
      <md-input-container>
        <label>Length of Stay</label>
        <input ng-model="user.staylength" type="number" required>
      </md-input-container>
      <label>Style</label>
      <md-select ng-model="user.style" aria-label="style" required>
        <md-option value="Art Deco">Art Deco</md-option>
        <md-option value="Igloo">Igloo</md-option>
        <md-option value="Modern">Modern</md-option>
        <md-option value="Post Modern">Post-modern</md-option>
        <md-option value="Rustic">Rustic</md-option>
        <md-option value="Ranch">Ranch</md-option>
        <md-option value="Urban">Urban</md-option>
      </md-select>
      <span>Perferences</span>
      <md-checkbox ng-click="toggle('Near schools', user.preferences)">Near schools</md-checkbox>
      <md-checkbox ng-click="toggle('Near restaurants', user.preferences)">Near restaurants</md-checkbox>
      <md-checkbox ng-click="toggle('Pool', user.preferences)">Pool</md-checkbox>
      <md-checkbox ng-click="toggle('Gym', user.preferences)">Gym</md-checkbox>
      <md-checkbox ng-click="toggle('Garden', user.preferences)">Garden</md-checkbox>
    </div> 
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="updateUser()">
        Submit
      </a>
    </div>
  </div>
</div>
